.container {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 20px;
}

#pixelMaker {
  width: 50%;
  float: left;
  /*background-color: blue;*/
}

#colorPaletteContainer {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 50%;
  float: right;
  /*background-color: green;*/
}

#myGrid {
  margin: 50px 50px 50px 50px;
}

h1 {
  margin-left: 70px;
}

.square {
  height: 10px;
  width: 10px;
  border: 1px solid gray;
}

.row {
  height: 10px;
  width: 10px;
  border: 1px solid gray;
}

table { border-collapse: collapse; } tr, td { padding: 0; }

/*#colors1 {
  float: left;
}

#colors2 {
  float: right;
}*/

#red {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: red;
}

#blue {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: blue;
}

#purple {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: purple;
}

#green {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: green;
}

#yellow {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: yellow;
}

#orange {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: orange;
}
